body {
  margin: 0;
  background: #0b3d91;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin: 10px 0;
}

#info {
  margin-bottom: 10px;
}

#cesiumContainer {
  width: 100%;
  height: 80vh;
  display: block;
}
